*
{
    margin: 0;
    padding: 0;
    
}
body{
    background-image:url(weather.jpeg) ;
    background-repeat: no-repeat;
    height: 100vh;
     background-size: cover;
     background-position:center ;
      display: flex;
    justify-content: center;
    align-items: center;
  
   
}
.main
{
background-color: rgba(255, 255, 255, 0.6);
height: 50%;
width: 50%;

display: flex;
flex-direction: column;
gap: 3rem;
justify-content: center;
align-items: center;
border-radius: 10px;
}

.upper_head
{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.describe
{
    display: flex;
   flex-direction: column;
   gap: 0.5rem;
   font-size: larger;
  
    width: 250px;
   

}
.describe p {
    text-align: left;
}
.main .upper_head input{
   height: 40px;
  
}
button{
    padding: 0.2rem;
}
